<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <!--Bootstrap Icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="employee-login.component.css">

    <link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />
    <title>Document</title>
</head>
<body>

    <div class="container">
        <div class="row" style="padding-bottom: 126px; padding-top: 20px;" >
          <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card border-0 shadow rounded-3 my-5">
              <div class="card-body p-4 p-sm-5">
                <h2 class="card-title text-center mb-5 fw-solid fs-3">Employee Login</h2>
                <form ngNativeValidate [formGroup]="form" (submit)="login()">
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" [(ngModel)]="employeeid" placeholder="Employee ID" formControlName="employeeid" required/>
                    <label for="floatingInput">Employee ID</label>
                  </div>
                  <br>
                  <div class="form-floating mb-3">
                    <input type="password" id="inputPassword" class="form-control" [(ngModel)]="employeepass" placeholder="Employee Password" formControlName="employeepass" required/>
                    <label for="floatingPassword">Employee Password</label>
                  </div>
                  <br>
                  <input type="checkbox" (click)="myFunction()"> Show Password
                  <br>
                  <br>
                  <div class="d-grid">
                    <button class="btn btn-success btn-login text-uppercase fw-bold" type="submit">Sign
                      in</button>
                  </div>
                  </form>
                 </div>
              </div>
            </div>

          </div>

        </div>

        <div class="container">
          <div class="row align-items-center justify-content-center" id='rowfoot'>  <!--Single row with two columns for the grid-->
            <div class="col-md text-light" id='textfoot'>
              <h3>Powered By</h3>
          </div>
              <div class="col-md">
                  <img src="assets/kaar.jfif" id='imgfoot' class="img-fluid">
              </div>

          </div>
      </div>
      <br>
      <br>

</body>
</html>
